menuconfig MRVL_MMP_CLK_FULL_FEAT
	bool "Marvell MMP Clock Full features"
	depends on ARCH_MMP && COMMON_CLK
	default y
	help
	  Enable full features of clock for Marvell MMP architecture.

if MRVL_MMP_CLK_FULL_FEAT
config PXA_DVFS
	tristate "Enable DVFS feature"
	depends on ARCH_MMP && COMMON_CLK
	default y
	help
	  Enable Dynamic Voltage & Frequency Scaling feature.
endif
